<table class="table table-bordered">
<% attributes.each do |attribute| -%>
  <tr>
    <td><%= attribute.human_name %></td>
    <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
  </tr>

<% end -%>
</table>

<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => "btn" %>
<%%= link_to 'Back', <%= index_helper %>_path, :class => "btn" %>
